<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,300i,400,400i,500,500i,700"
    rel="stylesheet">
  <title>Order History - SongApe</title>
</head>

<body>
  <div class="block__wrapper">
    <div class="block__content page-header">
      <h3 class="secondary-header">Order history</h3>
    </div>
  </div>

  <div class="block__wrapper order-collapsed">
    <div class="block__content">
      <div class="order-header">
        <span class="order-header__title">Order
          <span class="order-header__title__id">146</span>
        </span>
        <span class="order-header__date">25.02.2019</span>
        <span class="order-header__total">$129.99</span>
      </div>
    </div>
  </div>

  <div class="block__wrapper order-expanded">
    <div class="block__content">
      <div class="order-header">
        <span class="order-header__title">Order
          <span class="order-header__title__id">146</span>
        </span>
        <span class="order-header__date">25.02.2019</span>
        <span class="order-header__total">$129.99</span>
        <p class="secondary-link">collapse</p>
      </div>
      <div class="order-content">

        <div class="albums">
          <h3 class="secondary-header">Albums</h3>
          <div class="albums__list">
            <!-- album-item -->
            <div class="album-item">
              <div class="album-item__img"></div>
              <span class="album-item__title">Empty Sky</span>
              <span class="album-item__year">(1969)</span>
              <!-- add-to-cart-component -->
              <div class="add-to-cart-button">
                <span class="add-to-cart-button__price">$9.99</span>
              </div>
            </div>
            <!-- album-item -->
            <div class="album-item">
              <div class="album-item__img"></div>
              <span class="album-item__title">Blue Moves</span>
              <span class="album-item__year">(1976)</span>
              <!-- add-to-cart-component -->
              <div class="add-to-cart-button">
                <span class="add-to-cart-button__price">$9.99</span>
              </div>
            </div>
            <!-- album-item -->
            <div class="album-item">
              <div class="album-item__img"></div>
              <span class="album-item__title">A Single Man</span>
              <span class="album-item__year">(1978)</span>
              <!-- add-to-cart-component -->
              <div class="add-to-cart-button">
                <span class="add-to-cart-button__price">$9.99</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="songs">
        <h3 class="secondary-header">Songs</h3>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__title">Your Song</span>
          <span class="song-with-number__duration">9:00</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
          </div>
        </div>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__title">Goodbye Yellow Brick Road</span>
          <span class="song-with-number__duration">3:33</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
          </div>
        </div>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__title">Rocket Man</span>
          <span class="song-with-number__duration">6:10</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
          </div>
        </div>
        <p class="secondary-link">Download items</p>
      </div>

    </div>
  </div>

  <div class="block__wrapper order-collapsed">
    <div class="block__content">
      <div class="order-header">
        <span class="order-header__title">Order
          <span class="order-header__title__id">146</span>
        </span>
        <span class="order-header__date">25.02.2019</span>
        <span class="order-header__total">$129.99</span>
      </div>
    </div>
  </div>

  <div class="block__wrapper order-collapsed">
    <div class="block__content">
      <div class="order-header">
        <span class="order-header__title">Order
          <span class="order-header__title__id">146</span>
        </span>
        <span class="order-header__date">25.02.2019</span>
        <span class="order-header__total">$129.99</span>
      </div>
    </div>
  </div>
</body>

</html>