<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,300i,400,400i,500,500i,700"
    rel="stylesheet">
  <title>Empyrean - SongApe</title>
</head>

<body>
  <div class="block__wrapper">
    <div class="block__content">
      <div class="page-header">
        <div class="breadcrumbs">
          <span class="breadcrumbs-item">Catalogue</span>
          <span class="breadcrumbs-item">Albums</span>
          <span class="breadcrumbs-item">E</span>
          <span class="breadcrumbs-item">Empyrean</span>
        </div>
      </div>

      <div class="album-info">
        <div class="album-cover-container">
          <img class="album-cover" src="images/empyrean.png" />
        </div>
        <div class="album-details">
          <h2 class="album-title">Empyrean</h2>
          <p class="album-description">
            The Empyrean is the eighth solo album by John Frusciante, released
            worldwide on January 20, 2009 through Record Collection. Frusciante
            did not plan on a following tour, as he instead wanted to focus on
            writing and recording. The Empyrean peaked at number 151 on the US
            Billboard 200 as well as number seven on the Top Heatseekers.
          </p>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$9.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
      </div>

      <div class="songs">
        <h3 class="secondary-header">Songs</h3>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__track-number">1</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Before the Beginning</span>
          <span class="song-with-number__duration">9:09</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__track-number">2</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Song to the Siren</span>
          <span class="song-with-number__duration">3:33</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__track-number">3</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Unreachable</span>
          <span class="song-with-number__duration">6:10</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <!-- song-with-number-component -->
        <div class="song-with-number">
          <span class="song-with-number__track-number">4</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">God</span>
          <span class="song-with-number__duration">3:23</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <div class="song-with-number">
          <span class="song-with-number__track-number">5</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Dark/Light</span>
          <span class="song-with-number__duration">8:30</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <div class="song-with-number">
          <span class="song-with-number__track-number">6</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Heaven</span>
          <span class="song-with-number__duration">4:03</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <div class="song-with-number">
          <span class="song-with-number__track-number">7</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Enough of Me</span>
          <span class="song-with-number__duration">4:14</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <div class="song-with-number">
          <span class="song-with-number__track-number">8</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">Central</span>
          <span class="song-with-number__duration">7:16</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <div class="song-with-number">
          <span class="song-with-number__track-number">9</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">One More of Me</span>
          <span class="song-with-number__duration">4:06</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
        <div class="song-with-number">
          <span class="song-with-number__track-number">10</span>
          <img class="song-with-number__play-icon" src="icons/play.png" />
          <span class="song-with-number__title">After the Ending</span>
          <span class="song-with-number__duration">3:38</span>
          <!-- add-to-cart-component -->
          <div class="add-to-cart-button">
            <span class="add-to-cart-button__price">$0.99</span>
            <img class="plus-icon" src="icons/plus.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>