<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,300i,400,400i,500,500i,700" rel="stylesheet">
    <title>Empyrean</title>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="breadcrumbs">
          <span class="breadcrumbs-item">Catalogue</span>
          <span class="breadcrumbs-item">Albums</span>
          <span class="breadcrumbs-item">E</span>
          <span class="breadcrumbs-item">Empyrean</span>
        </div>
      </div>

      <div class="album-info">
        <div class="album-cover-container">
          <img class="album-cover" src="images/empyrean.png" />
        </div>
        <div class="album-details">
          <h2 class="album-title">Empyrean</h2>
          <p class="album-description">
            The Empyrean is the eighth solo album by John Frusciante, released
            worldwide on January 20, 2009 through Record Collection. Frusciante
            did not plan on a following tour, as he instead wanted to focus on
            writing and recording. The Empyrean peaked at number 151 on the US
            Billboard 200 as well as number seven on the Top Heatseekers.
          </p>
          <p class="album-price">$9.99</p>
        </div>
      </div>

      <div class="songs">
        <ul>
          <li>1 Before the Beginning</li>
          <li>2 Song to the Siren</li>
          <li>3 Unreachable</li>
          <li>4 God</li>
          <li>5 Dark/Light</li>
          <li>6 Heaven</li>
          <li>7 Enough of Me</li>
          <li>8 Central</li>
          <li>9 One More of Me</li>
          <li>10 After the Ending</li>
        </ul>
      </div>
    </div>
  </body>
</html>
