<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,300i,400,400i,500,500i,700" rel="stylesheet">
    <title>Catalogue</title>
  </head>
  <body>
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">Catalogue</h1>
        <ul class="alphabet">
          <li>0-9</li>
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li class="current-letter">E</li>
          <li>F</li>
          <li>G</li>
          <li>H</li>
          <li>I</li>
          <li>J</li>
          <li>K</li>
          <li>L</li>
          <li>M</li>
          <li>N</li>
          <li>O</li>
          <li>P</li>
          <li>Q</li>
          <li>R</li>
          <li>S</li>
          <li>T</li>
          <li>U</li>
          <li>V</li>
          <li>W</li>
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
        <div class="item-type-filter">
          <span class="filter-title">Show:</span>
          <span class="filter-item selected-filter-item">All</span>
          <span class="filter-item">Artists</span>
          <span class="filter-item">Albums</span>
        </div>
      </div>

      <div class="letter-group">
        <div class="letter">E</div>
        <ul class="letter-list">
          <li>Eagles</li>
          <li>Earth, Wind & Fire</li>
          <li>Echo & the Bunnymen</li>
          <li>Eddie Cochran</li>
          <li>Elton John</li>
          <li>Elvis Presley</li>
        </ul>
      </div>

      <div class="letter-group">
        <div class="letter">F</div>
        <ul class="letter-list">
          <li>First Aid Kit</li>
          <li>Fleetwood Mac</li>
          <li>Frank Zappa</li>
        </ul>
      </div>
    </div>
  </body>
</html>
