/* Common */

body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
}

h1 {
  margin: 0;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  line-height: 1;
}

li {
  list-style: none;
}

/* Page */

.page {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

/* Secondary header */

.secondary-header {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

/* Page header */

.page-header {
  padding-bottom: 28px;
}

/* Title */

.page-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
  word-break: break-word;
}

/* Alphabet */

.alphabet {
  margin-top: 14px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 14px;
  color: #333333;
}

.alphabet li {
  letter-spacing: 0.16em;
  margin-right: 10px;
  margin-bottom: 5px;
}

.alphabet li:last-child {
  margin-right: 0;
}

.alphabet .current-letter {
  font-size: 16px;
  color: #828282;
}

/* filter */

.item-type-filter {
  text-transform: uppercase;
  flex-wrap: wrap;
  display: flex;
  align-items: baseline;
  margin-top: 15px;
}

.filter-title {
  margin-right: 5px;
}

.filter-item {
  margin-right: 5px;
  margin-bottom: 5px;
}

.filter-item::after {
  margin-left: 5px;
  color: #000;
  font-size: 12px;
  content: "/";
}

.filter-item:last-child::after {
  margin-left: 0;
  content: none;
}

.selected-filter-item {
  font-size: 16px;
  color: #828282;
}

/* letter group */

.letter-group {
  display: flex;
  flex-direction: row;
}

.letter-group+.letter-group {
  margin-top: 23px;
}

.letter {
  flex-shrink: 0;
  word-break: break-word;
  width: 50px;
  font-weight: 500;
  font-size: 36px;
  line-height: 0.8;
  color: #828282;
}

.letter-list {
  display: flex;
  flex-direction: column;
}

.letter-list li+li {
  margin-top: 15px;
}

/* breadcrumbs */

.breadcrumbs {
  text-transform: uppercase;
  flex-wrap: wrap;
  display: flex;
}

.breadcrumbs-item {
  margin-right: 5px;
  margin-bottom: 5px;
}

.breadcrumbs-item::after {
  margin-left: 5px;
  content: "/";
}

.breadcrumbs-item:last-child::after {
  margin-left: 0;
  content: none;
}

/* album info */

.album-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 38px;
}

.album-cover-container {
  flex-shrink: 0;
  width: 195px;
}

.album-cover {
  max-width: 195px;
  max-height: 250px;
}

.album-details {
  margin-left: 45px;
}

@media all and (max-width: 480px) {
  .album-info {
    flex-wrap: wrap;
  }
  .album-details {
    margin-left: 0;
    margin-top: 24px;
  }
}

.album-title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.album-description {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* add-to-cart-button */

.add-to-cart-button {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.price-text {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}

.plus-icon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

/* song-with-number */

.song-with-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
}

.song-with-number>*+* {
  margin-left: 5px;
}

.song-with-number__track-number {
  flex-shrink: 0;
  flex-grow: 0;
  width: 15px;
  text-align: right;
  color: #C4C4C4;
}

.song-with-number__play-icon {
  flex-shrink: 0;
  flex-grow: 0;
  width: 12px;
  height: 12px;
}

.song-with-number__title {}

.song-with-number__duration {
  margin-left: auto;
  padding-left: 3px;
  flex-shrink: 0;
  flex-grow: 0;
  color: #C4C4C4;
}

.song-with-number .add-to-cart-button {
  width: 62px;
  justify-content: flex-end;
}